
# Visual Studio tracking directory
.vs

# Files created during the build by Visual Studio
Client/Release
Client/Debug
Client/x64
Client/ReleaseSafe

RFHUtil/Release
RFHUtil/Debug
RFHUtil/x64
bin/Debug
bin/Debug/x64
bin/Release/x64
bin/ReleaseSafe/x64

mqperf/*/Release
mqperf/Release

bin/linux

# More files created during the build by Visual Studio
*.iobj
*.ipdb
*.pdb
*.obj
*.aps
*.lastcodeanalysis*

*.tlog/*

# My tracking of status
archive
filelist
TODO.txt
DONE.txt

bin/tests/
obj/UnitTests/
obj/IntegrationTests/
tests/UnitTests/bin/
tests/UnitTests/obj/
tests/IntegrationTests/bin/
tests/IntegrationTests/obj/
images/
